/* Importar el tema de Angular Material */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

/* Estilos globales */
html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}
